In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import string

In [3]:
import random

In [16]:
[-1]+list(range(3))

[-1, 0, 1, 2]

In [20]:
df = pd.DataFrame( {'a':[random.random() for i in range(100)] 
                   ,'b':[random.random() for i in range(100)]
                   ,'c':[''.join(np.random.choice(list(string.ascii_letters), 5)) for i in range(100)]
                   ,'d':[random.randint(0,100) for i in range(100)]
                   },index = range(100)
                 )
df.reset_index().head()
df['group'] = pd.Series(['X', 'X', 'Y', 'Y', 'Z'])

# TODO - reorder columns to add group to the front
#pd.concat([df.loc[:,'group'], df.loc[:,['a','b','c','d']]], axis=1)
cols = df.columns.tolist()
cols = [cols[-1]]+cols[:-1]
df = df[cols]
df.head()

   index         a         b      c   d
0      0  0.371800  0.844157  yuNyK  46
1      1  0.138644  0.110246  LnRXN  45
2      2  0.955239  0.402884  rivri  59
3      3  0.817730  0.371418  iHxUA  73
4      4  0.591793  0.036425  tuiKA  93

  group         a         b      c   d
0     X  0.371800  0.844157  yuNyK  46
1     X  0.138644  0.110246  LnRXN  45
2     Y  0.955239  0.402884  rivri  59
3     Y  0.817730  0.371418  iHxUA  73
4     Z  0.591793  0.036425  tuiKA  93

In [5]:
import string

In [10]:
string.ascii_letters

str

In [8]:
np.random.choice(1, string.ascii_letters)

TypeError: cannot perform reduce with flexible type

In [14]:
''.join(np.random.choice(list(string.ascii_letters), 5))

'NRGAS'